<%= form_with(model: record, local: true) do |f|%>
  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :result, "打撃結果" %><br />
    <%= f.text_field :position_id %>
    <%= f.text_field :result_id %>
  </div>
  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>